* {
  box-sizing: border-box;
  overflow-x: hidden;
}

body, html {

  position: relative;
}

:root {
  --bg-blue: #51C4D3;
  --bg-light: #F5F5F5;
  --bg-red: #F05454;
  --bg-dark-blue: #30475E;
  --font-color-dark: #121212;
  --font-color-light: #8d8d8d;

  --header-font-fam: 'League Gothic', sans-serif;
}

ul, p, div, li, span {
  padding: 0;
  margin: 0; 
}

li {
  list-style: none;
}

a { 
  text-decoration: none;
  color: var(--font-color-dark)
}